.user-dashboard{
    min-height: 100vh;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.select-project-type{
    border-radius: 10px 10px;
    font-size: 1em;
    padding: 10px 10px;
    margin: 10px 10px;
    width: 20vw;
    text-align: center;
}